Repository team-reflog/reflog-server, pull requests merged in 2024-01, with the labels that each got.

#34 ci: CI workflow 최적화
  .github/workflows/continous-integration.yml
  .github/workflows/gradle.yml
Labels: ci

#37 feat: 초대 거절 기능 추가
  src/main/java/com/github/teamreflog/reflogserver/team/application/InviteService.java
  src/main/java/com/github/teamreflog/reflogserver/team/application/dto/InviteRejectRequest.java
  src/main/java/com/github/teamreflog/reflogserver/team/domain/Invite.java
  src/main/java/com/github/teamreflog/reflogserver/team/ui/InviteController.java
  src/test/java/com/github/teamreflog/reflogserver/acceptance/InviteAcceptanceTest.java
  src/test/java/com/github/teamreflog/reflogserver/invite/service/InviteServiceTest.java
  src/test/java/com/github/teamreflog/reflogserver/team/domain/InviteTest.java
Labels: feature

#36 refactor: 누락된 규칙 반영
  src/main/java/com/github/teamreflog/reflogserver/topic/application/TopicService.java
  src/main/java/com/github/teamreflog/reflogserver/topic/application/dto/TopicCreateRequest.java
  src/main/java/com/github/teamreflog/reflogserver/topic/ui/TopicController.java
  src/test/java/com/github/teamreflog/reflogserver/acceptance/TopicAcceptanceTest.java
  src/test/java/com/github/teamreflog/reflogserver/acceptance/fixture/TopicFixture.java
Labels: refactor

#39 fix: CGLIB proxy reflection 및 오늘 회고 조회 버그 수정
  src/main/java/com/github/teamreflog/reflogserver/reflection/application/ReflectionService.java
  src/main/java/com/github/teamreflog/reflogserver/reflection/application/dto/ReflectionCreateRequest.java
  src/main/java/com/github/teamreflog/reflogserver/reflection/domain/DateProvider.java
  src/main/java/com/github/teamreflog/reflogserver/reflection/domain/Reflection.java
  src/main/java/com/github/teamreflog/reflogserver/reflection/domain/ReflectionRepository.java
  src/main/java/com/github/teamreflog/reflogserver/reflection/ui/ReflectionController.java
  src/test/java/com/github/teamreflog/reflogserver/acceptance/ReflectionAcceptanceTest.java
  src/test/java/com/github/teamreflog/reflogserver/acceptance/helper/DayOfWeekProviderBeanChanger.java
  src/test/java/com/github/teamreflog/reflogserver/reflection/domain/DateProviderTest.java
Labels: fix

#35 refactor: `@DataJpaTest` 대신 `@SpringBootTest`를 사용
  src/test/java/com/github/teamreflog/reflogserver/auth/application/AuthServiceTest.java
  src/test/java/com/github/teamreflog/reflogserver/invite/service/InviteServiceTest.java
  src/test/java/com/github/teamreflog/reflogserver/member/application/MemberServiceTest.java
Labels: refactor

#41 ci: 프로세스 종료 스크립트 수정
  scripts/stop.sh
Labels: ci

#46 ci: SonarCloud를 이용한 정적 분석 및 테스트 커버리지 추가
  .github/workflows/continuous-deployment.yml
  .github/workflows/continuous-integration.yml
  build.gradle
Labels: ci

#47 feat: 애너테이션 기반 인가
  src/main/java/com/github/teamreflog/reflogserver/auth/application/AuthService.java
  src/main/java/com/github/teamreflog/reflogserver/auth/config/AuthConfig.java
  src/main/java/com/github/teamreflog/reflogserver/auth/config/AuthInterceptor.java
  src/main/java/com/github/teamreflog/reflogserver/auth/config/AuthPrincipalResolver.java
  src/main/java/com/github/teamreflog/reflogserver/auth/config/AuthWebConfig.java
  src/main/java/com/github/teamreflog/reflogserver/auth/config/AuthenticationInterceptor.java
  src/main/java/com/github/teamreflog/reflogserver/auth/domain/Authenticated.java
  src/main/java/com/github/teamreflog/reflogserver/auth/domain/Authorities.java
  src/main/java/com/github/teamreflog/reflogserver/auth/domain/ClaimType.java
  src/main/java/com/github/teamreflog/reflogserver/auth/domain/MemberRole.java
  src/main/java/com/github/teamreflog/reflogserver/auth/domain/Token.java
  src/main/java/com/github/teamreflog/reflogserver/auth/domain/TokenParser.java
  src/main/java/com/github/teamreflog/reflogserver/auth/domain/TokenProvider.java
  src/main/java/com/github/teamreflog/reflogserver/auth/exception/AuthExceptionHandler.java
  src/main/java/com/github/teamreflog/reflogserver/auth/exception/JwtInvalidException.java
  src/main/java/com/github/teamreflog/reflogserver/auth/infrastructure/JwtProviderImpl.java
  src/main/java/com/github/teamreflog/reflogserver/auth/infrastructure/TokenParserImpl.java
  src/main/java/com/github/teamreflog/reflogserver/auth/infrastructure/TokenProviderImpl.java
  src/main/java/com/github/teamreflog/reflogserver/auth/ui/AuthController.java
  src/main/java/com/github/teamreflog/reflogserver/reflection/ui/ReflectionController.java
  src/main/java/com/github/teamreflog/reflogserver/team/ui/InviteController.java
  src/main/java/com/github/teamreflog/reflogserver/team/ui/TeamController.java
  src/main/java/com/github/teamreflog/reflogserver/topic/ui/TopicController.java
  src/test/java/com/github/teamreflog/reflogserver/acceptance/AuthAcceptanceTest.java
  src/test/java/com/github/teamreflog/reflogserver/acceptance/controller/AuthAcceptanceTestController.java
  src/test/java/com/github/teamreflog/reflogserver/auth/domain/TokenTest.java
  src/test/java/com/github/teamreflog/reflogserver/auth/infrastructure/JwtProviderImplTest.java
  src/test/java/com/github/teamreflog/reflogserver/auth/infrastructure/TokenParserImplTest.java
  src/test/java/com/github/teamreflog/reflogserver/auth/infrastructure/TokenProviderImplTest.java
  src/test/resources/application.yml
Labels: feature

#58 fix: 인터셉터가 CORS preflight 처리를 가장 먼저하도록 변경
  src/main/java/com/github/teamreflog/reflogserver/auth/config/AuthInterceptor.java
Labels: fix

#56 feat: 사용자가 속한 팀들 목록 조회 기능 추가
  src/main/java/com/github/teamreflog/reflogserver/team/application/TeamService.java
  src/main/java/com/github/teamreflog/reflogserver/team/application/dto/TeamQueryResponse.java
  src/main/java/com/github/teamreflog/reflogserver/team/domain/TeamRepository.java
  src/main/java/com/github/teamreflog/reflogserver/team/ui/TeamController.java
  src/main/java/com/github/teamreflog/reflogserver/topic/infrastructure/TeamClient.java
  src/test/java/com/github/teamreflog/reflogserver/acceptance/TeamAcceptanceTest.java
Labels: feature

#52 feat: 메일 인증 시스템 구현
  src/main/java/com/github/teamreflog/reflogserver/mail/application/MailService.java
  src/main/java/com/github/teamreflog/reflogserver/mail/application/dto/MailSendRequest.java
  src/main/java/com/github/teamreflog/reflogserver/mail/application/dto/MailSendResponse.java
  src/main/java/com/github/teamreflog/reflogserver/mail/application/dto/MailVerifyRequest.java
  src/main/java/com/github/teamreflog/reflogserver/mail/domain/MailAuthCodeGenerator.java
  src/main/java/com/github/teamreflog/reflogserver/mail/domain/MailAuthData.java
  src/main/java/com/github/teamreflog/reflogserver/mail/domain/MailRepository.java
  src/main/java/com/github/teamreflog/reflogserver/mail/domain/MailSender.java
  src/main/java/com/github/teamreflog/reflogserver/mail/exception/MailAuthCodeNotMatchedException.java
  src/main/java/com/github/teamreflog/reflogserver/mail/exception/MailException.java
  src/main/java/com/github/teamreflog/reflogserver/mail/exception/MailExceptionHandler.java
  src/main/java/com/github/teamreflog/reflogserver/mail/infrastructure/GmailSender.java
  src/main/java/com/github/teamreflog/reflogserver/mail/infrastructure/MailRepositoryImpl.java
  src/main/java/com/github/teamreflog/reflogserver/mail/infrastructure/RandomSixDigitCodeGenerator.java
  src/main/java/com/github/teamreflog/reflogserver/mail/ui/MailController.java
  src/test/java/com/github/teamreflog/reflogserver/acceptance/MailAcceptanceTest.java
  src/test/java/com/github/teamreflog/reflogserver/acceptance/fake/FixedMailAuthCodeGenerator.java
  src/test/java/com/github/teamreflog/reflogserver/mail/domain/MailAuthDataTest.java
  src/test/java/com/github/teamreflog/reflogserver/mail/infrastructure/MailRepositoryImplTest.java
  src/test/java/com/github/teamreflog/reflogserver/mail/infrastructure/RandomSixDigitCodeGeneratorTest.java
Labels: feature

#48 feat: 회고 댓글 기능 추가
  src/main/java/com/github/teamreflog/reflogserver/reflection/application/CommentService.java
  src/main/java/com/github/teamreflog/reflogserver/reflection/application/ReflectionService.java
  src/main/java/com/github/teamreflog/reflogserver/reflection/application/dto/CommentCreateRequest.java
  src/main/java/com/github/teamreflog/reflogserver/reflection/application/dto/CommentQueryRequest.java
  src/main/java/com/github/teamreflog/reflogserver/reflection/application/dto/CommentQueryResponse.java
  src/main/java/com/github/teamreflog/reflogserver/reflection/domain/Comment.java
  src/main/java/com/github/teamreflog/reflogserver/reflection/domain/CommentRepository.java
  src/main/java/com/github/teamreflog/reflogserver/reflection/domain/CommentValidator.java
  src/main/java/com/github/teamreflog/reflogserver/reflection/domain/CrewData.java
  src/main/java/com/github/teamreflog/reflogserver/reflection/domain/CrewQueryService.java
  src/main/java/com/github/teamreflog/reflogserver/reflection/domain/ReflectionRepository.java
  src/main/java/com/github/teamreflog/reflogserver/reflection/exception/CommentException.java
  src/main/java/com/github/teamreflog/reflogserver/reflection/exception/CommentExceptionHandler.java
  src/main/java/com/github/teamreflog/reflogserver/reflection/exception/CommentNotAccessException.java
  src/main/java/com/github/teamreflog/reflogserver/reflection/infrastructure/CrewService.java
  src/main/java/com/github/teamreflog/reflogserver/reflection/ui/CommentController.java
  src/main/java/com/github/teamreflog/reflogserver/team/domain/CrewRepository.java
  src/main/java/com/github/teamreflog/reflogserver/team/domain/InviteValidator.java
  src/main/java/com/github/teamreflog/reflogserver/team/domain/exception/InviteNotAccessException.java
  src/main/java/com/github/teamreflog/reflogserver/team/ui/InviteController.java
  src/main/java/com/github/teamreflog/reflogserver/team/ui/TeamController.java
  src/main/java/com/github/teamreflog/reflogserver/topic/domain/TopicRepository.java
  src/test/java/com/github/teamreflog/reflogserver/acceptance/CommentAcceptanceTest.java
  src/test/java/com/github/teamreflog/reflogserver/acceptance/fixture/InviteFixture.java
  src/test/java/com/github/teamreflog/reflogserver/acceptance/fixture/ReflectionFixture.java
  src/test/java/com/github/teamreflog/reflogserver/reflection/domain/CommentValidatorTest.java
  src/test/java/com/github/teamreflog/reflogserver/team/domain/InviteValidatorTest.java
Labels: feature

#59 feat: 팀 상세 조회 API 추가
  src/main/java/com/github/teamreflog/reflogserver/team/application/TeamService.java
  src/main/java/com/github/teamreflog/reflogserver/team/application/dto/TeamQueryDetailRequest.java
  src/main/java/com/github/teamreflog/reflogserver/team/application/dto/TeamQueryDetailResponse.java
  src/main/java/com/github/teamreflog/reflogserver/team/domain/TopicData.java
  src/main/java/com/github/teamreflog/reflogserver/team/domain/TopicQueryService.java
  src/main/java/com/github/teamreflog/reflogserver/team/infrastructure/TopicClient.java
  src/main/java/com/github/teamreflog/reflogserver/team/ui/TeamController.java
  src/test/java/com/github/teamreflog/reflogserver/acceptance/TeamAcceptanceTest.java
Labels: feature

#60 refactor: 인수 테스트 리팩토링
  src/main/java/com/github/teamreflog/reflogserver/team/application/InviteService.java
  src/main/java/com/github/teamreflog/reflogserver/team/domain/InviteRepository.java
  src/main/java/com/github/teamreflog/reflogserver/team/ui/InviteController.java
  src/test/java/com/github/teamreflog/reflogserver/acceptance/AcceptanceTest.java
  src/test/java/com/github/teamreflog/reflogserver/acceptance/AuthAcceptanceTest.java
  src/test/java/com/github/teamreflog/reflogserver/acceptance/CommentAcceptanceTest.java
  src/test/java/com/github/teamreflog/reflogserver/acceptance/InviteAcceptanceTest.java
  src/test/java/com/github/teamreflog/reflogserver/acceptance/ReflectionAcceptanceTest.java
  src/test/java/com/github/teamreflog/reflogserver/acceptance/TeamAcceptanceTest.java
  src/test/java/com/github/teamreflog/reflogserver/acceptance/TopicAcceptanceTest.java
  src/test/java/com/github/teamreflog/reflogserver/acceptance/auth/AuthAcceptanceTest.java
  src/test/java/com/github/teamreflog/reflogserver/acceptance/auth/AuthAcceptanceTestController.java
  src/test/java/com/github/teamreflog/reflogserver/acceptance/auth/AuthFixture.java
  src/test/java/com/github/teamreflog/reflogserver/acceptance/fixture/AuthFixture.java
  src/test/java/com/github/teamreflog/reflogserver/acceptance/fixture/InviteFixture.java
  src/test/java/com/github/teamreflog/reflogserver/acceptance/fixture/TeamFixture.java
  src/test/java/com/github/teamreflog/reflogserver/acceptance/mail/FixedMailAuthCodeGenerator.java
  src/test/java/com/github/teamreflog/reflogserver/acceptance/mail/MailAcceptanceTest.java
  src/test/java/com/github/teamreflog/reflogserver/acceptance/mail/MailFixture.java
  src/test/java/com/github/teamreflog/reflogserver/acceptance/member/MemberAcceptanceTest.java
  src/test/java/com/github/teamreflog/reflogserver/acceptance/member/MemberFixture.java
  src/test/java/com/github/teamreflog/reflogserver/acceptance/reflection/CommentAcceptanceTest.java
  src/test/java/com/github/teamreflog/reflogserver/acceptance/reflection/CommentFixture.java
  src/test/java/com/github/teamreflog/reflogserver/acceptance/reflection/ReflectionAcceptanceTest.java
  src/test/java/com/github/teamreflog/reflogserver/acceptance/reflection/ReflectionFixture.java
  src/test/java/com/github/teamreflog/reflogserver/acceptance/team/InviteAcceptanceTest.java
  src/test/java/com/github/teamreflog/reflogserver/acceptance/team/InviteFixture.java
  src/test/java/com/github/teamreflog/reflogserver/acceptance/team/TeamAcceptanceTest.java
  src/test/java/com/github/teamreflog/reflogserver/acceptance/team/TeamFixture.java
  src/test/java/com/github/teamreflog/reflogserver/acceptance/topic/DayOfWeekProviderBeanChanger.java
  src/test/java/com/github/teamreflog/reflogserver/acceptance/topic/TopicAcceptanceTest.java
  src/test/java/com/github/teamreflog/reflogserver/acceptance/topic/TopicFixture.java
Labels: refactor
